<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de Exámenes</span>
    <span class="example-spacer"></span>
    <a 
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/login'" 
        mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Iniciar Sesión
    </a>
    <a 
        *ngIf="!login.isLoggedIn()" 
        [routerLink]="'/signup'" 
        mat-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon">
        Registrarse
    </a>
    <a 
        *ngIf="login.isLoggedIn()" 
        (click) = "logout()"
        mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Cerrar Sesión
    </a>
    <button
        *ngIf="login.isLoggedIn()" 
        mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        style="margin-right: 10px;">
        {{ login.getUser().username }}
    </button>

</mat-toolbar>