<mat-card style="margin-left: 10px;">
    <h1 class="mt20 ml20">Detalles del perfil</h1>
    <mat-card-content>
        <div class="boostrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img class="profile-image" src="../../../assets/perfil.png" alt="profile">
                    
                    <h1 class="mt20">{{ user.nombre }} {{ user.apellido }}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre de usuario</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{ user.userId }}</td>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td>{{ user.telefono }}</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{ user.authorities[0].authority }}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{ user.enabled ? 'Activo' : 'Inactivo' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt20">
            <button mat-raised-button color="primary">Actualizar</button>
            <button mat-raised-button color="accent">Compartir</button>
        </div>
        
    </mat-card-content>
</mat-card>
